* {
    margin: 0;
    padding: 0;
}

header
 { 
    background-color:rgb(80, 80, 92);
    font-size: smaller;
    text-align: center;
    color:white;
 }
 body{
    background-color: blanchedalmond;
 }
.cabeçalho-imagem {
    image-orientation: flip;
    width: 30%;
}
.cabeçalho {
    display: flex;
    justify-content: space-around;
    padding: 24px  0;
}
 .lista-cabeçalho {
    display: inline-block;
    margin: 0  16px;
    padding: 24px 0;
    font-size: 16px;

 }